<p>
  {{content}}
</p>
<!--<form #change_form="ngForm">-->
  <!-- one-way data binding -->
  <strong>Current Username: {{namechange.names[0]}}</strong>

  <br /><label for="new_name">New username: </label>
  <input type="text" name="new_name" [(ngModel)]="namechange.names[1]" />
  <!-- above: two-way data binding -->

  <ng-template [ngIf]="namechange.names[1]">
    <div>
      Are these your old and new usernames?
      <ul>
        <li *ngFor="let name of namechange.names">{{name}}</li>
      </ul>
      <input type="submit" value="Yes, change my name!" (click)="senddata(change_form.value)" />
    </div>
  </ng-template>
<!--</form>-->